<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/tabs/home">
        <ion-icon name="restaurant-outline"></ion-icon>
        <ion-label>Restaurants</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map" href="/tabs/map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Karte</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="favorites" href="/tabs/favorites">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Favoriten</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings" href="/tabs/settings">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Einstellungen</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>