:root {
    --ion-color-primary: #3880ff;
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
  }
  
  body.dark {
    --ion-color-primary: #428cff;
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
  }